@import "tailwindcss";
/* font-family: "Afacad Flux", sans-serif; */

:root{

  --font-display: "Sora", system-ui, sans-serif;
  --color-primary-light: #93B7BF;
  --color-primary: #3E7E8C;
  --color-background: #F2F2F2;
  --color-background-dark: #595959;
  --color-destaq: #22848F;
}

* {
  font-family: "Afacad Flux", sans-serif;
}   